.section__title {
  padding-top: 120px;
  text-align: center;
 
  &-text {
    font-weight: 700;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.72);
  }
}
 
.img-fluid {
  max-width: 100%;
  height: auto;
}
 
.mb-2 {  
  margin-right: 20px;
  max-width: 18rem;
  color: rgba(255, 255, 255, 0.72);
  background-color: rgba(63, 63, 63, 0.638);
}